@font-face {
    font-family: 'Istok Web';
    src: url(../Fonts/IstokWeb-Regular.ttf);
}

/* CSS Index */
.mainbg{
    background-image: url(../images/mainBG.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* CSS MCh1 */
.bg1{
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#mainTittle h1{
    font-family:'Istok Web';
    color:white;
    font-size: 50px;
    text-align: center;
    position: relative;
    margin: 5% auto;
    background-color: #061D6F;
    border-color: #00E0FF;
    border-radius: 100px;
    border-style: double;
    width: 65%;
    padding: 10px;
}

.spacing1{
    margin-top: 1%;
}

.spacing2{
    margin-top: 8%;
}

.spacing3{
    margin-top: 10%;
}

.btnWidth{
    width: 275px;
}

.noscroll { 
    overflow: hidden;
  }
  
  .overlay { 
     position: fixed; 
     overflow-y: scroll;
     inset: 0; }
  
  [aria-hidden="true"]  { display: none; }
  [aria-hidden="false"] { display: block; }

.btnHome{
    position: relative;
    top: 450px;
    left: 1200px;
    width: 150px;
}

.btnHome1{
    position: relative;
    top: 500px;
    left: 1200px;
    width: 150px;
}

/* CSS MCh2 */
.bg2{
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* CSS MCh3 */
.bg3{
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* CSS MCh4 */
.bg4{
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* CSS MCh5 */
.bg5{
    background-image: url(../images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* CSS MCh6 */
.bg6{
    background-image: url(../images/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* CSS MCh7 */
.bg7{
    background-image: url(../images/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* CSS MCh8 */
.bg8{
    background-image: url(../images/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* CSS MCh9 */
.bg9{
    background-image: url(../images/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* CSS MCh10 */
.bg10{
    background-image: url(../images/10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}